.cardtemplate {
    /* border:1px solid black; */
    margin: 5px;
    width:250px;
    height:250px;
    display: inline-block;
    position: relative;
    border-radius: 15px; /* Rounded corners */
    background-color: #f9f9f9; /* Light gray background */

}
.cardtitle {
    /* align-self: bottom; */
    /* position: absolute; */
    margin-left: 15px;
    margin-top: 5px;
    display: flex;
    bottom:0;
    align-items: center;
}
.cardCloseButton {
    height: 12px;
    width: 3px;
    margin-top: 13px;
    background-color: #f0f0f0;
    margin-right: 10px;
}
.topOfCard {
    display: flex;
    justify-content: space-between; /* This will place the title on one end and the button on the other end of the div */

}
.buttondashboard {
    margin-bottom: 25px;
}